<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>


		<style type="text/css">
          p{
                text-align:justify;
                color:#000058;
                font-size:16px;
                font-family:Arial; 
                
               

            }
            .email-body{
                text-align: center;
                margin: auto;
                width: 70%;
            }
            </style>
	</head>
	<body>
    <div class="email-body">
		<div>
			<img lass="img-rsp" style="width:20%;text-align:left;margin:10px 0" src="http://vivitool-nehos-develop.itside.co/build/images/vivitool-logo-cae15a82e302bab5728e.png" alt="logo-toog.png">

		</div>

		<div>
			<p style="
    font-weight: bold;
    
">
				Cher(e)
				{{ email}},
			</p>

			<p>
				Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien ci-dessous :</p>

			<p style="
    font-weight: bold;
    
">
				<a style="color:#F88B3B" href="{{ app.request.schemeAndHttpHost }}/page-reset-password?token={{token}}">
					Réinitialise votre mot de passe</a>
			</p>
			<p>
				Ce lien vous dirigera vers une page où vous pourrez choisir un nouveau mot de passe sécurisé. Assurez-vous que votre nouveau mot de passe respecte les critères de sécurité de l'application.
			</p>
			<p>
				Si vous n'avez pas demandé cette réinitialisation de mot de passe, veuillez ignorer cet e-mail. Votre mot de passe actuel restera inchangé.
			</p>
			<p style="
    font-size: 12px;
">
				Cordialement,</p>
			<p style="
    font-size: 12px;
">L'équipe de ViviTool
			</p>
		</div>
		</div>

	</body>
</html>
